@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');
/* font-family : Inter; */


@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');
/* font-family : Pacifico; */


*{
    margin: 0;
}

header{
   
    background-color: #000000;

}

/* Nav-bar style */
body{
    /* background-color: #000000; */
    font-family: Inter;
}
.nav-bar {
    max-width: 1440px;
    margin: 0 auto;
    
}
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-bar{
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    padding: 50px 70px 50px 70px;
    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
        
}
.nav-contant{
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-item{
    list-style: none;
}

.sp-links{
    background-color:rgb(230, 83, 60) ;
    font-size: 0.5rem;
    font-weight: 400;
    border-radius: 46px;
    padding: 7px 20px ;
    justify-content: center;
    text-align: center;
}
.nav-links{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


/* Banner styles */
/* banner-contant-style */
.banner{
    font-family: Inter;
    display: flex;
    gap: 500px;
   /* justify-content: space-between; */
   justify-content: left;
   padding: 50px 70px 50px 70px;
   padding: 70px;
   /* margin-bottom: 100px; */
   background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
   
}

.banner-contant-container{

}

.banner-hedding{
    max-width: 500px;
    font-size: 4.5rem;
    font-weight: 900 ;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;

}
.sp-contant{
    font-family: Pacifico;
}

.banner-contants{
    max-width: 500px;
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;

}
.btn-container{
    display: flex;
    gap: 25px;
}
.banner-btn-1{
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    padding: 12px 32px;
    font-size: 1.2rem;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* margin-right: 15px; */
}

.banner-btn-2{
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 40px;
    
    background-color: #101010;
    padding: 12px 32px;
    font-size: 1.2rem;
    font-weight: 900px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-2{
    padding: 10px 30px 10px 30px;
    text-align: start;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    background: blur 20;
    margin-left: 180px;
   
}

.btn-number-1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2.8rem;
   
}
.btn-contant-1{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.card-1{
    text-align: start;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    background: blur 20;
    padding: 10px 30px 10px 30px;
    margin-left: -530px;
   margin-top: -100px;
}
.btn-number-2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2rem;

}
.btn-contant-2{
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-family: 400;
}

/* main's style */
/* Section-1 Styles */

main{
    background-color: #000000;
   
}
.section-1{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.habit-hedding{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900px;
    margin-bottom: 10px;  
}

.habit-discription{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400; 
    margin-bottom: 60px;
   
}
.movments-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    
    justify-items: center;
}
.movenent{
    width: 200px;
    border-radius: 10px;
    
}
.movement-img-div{
    justify-content: center;
    margin-bottom: 15px;
}
.movement-img{
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 50%;
   margin-left: 8px;
}
.movement-hedding{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
.movement-disc{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:0.1 ;
}


/* Section-2 style */
.section-2{
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.MB-hedding{
    /* width: 440px; */
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 22px;
}
.MB-discription{
    width: 550px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
}
.MB-btn{
    padding: 12px 48px;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    cursor: pointer;
}
.MB-picture{
    
    width: 380px;
    Object-fit:none;
    Object-position: 68% 28%;
    border-radius: 18px; 
}

/* Section-3 Style */
.section-3{
    max-width: 1440px;
    margin: 0 auto;
   
}
.calc-hedding{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    
}
.calc-disc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
    
    
}
/* Section-4 styles */
.section-4{
    background-color: rgb(34, 34, 34);
}
.BMI-container{
    max-width: 1440px;
    margin: 0 auto;
}

.BC-hedding{
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 20px;
}
.BC-disc{
    color: rgba(255, 255, 255, 0.5);
    /* padding-top: 100px; */
   
}
table{
    border-collapse: collapse;
    
}
td, th{
    border: 2px solid  rgba(255, 255, 255, 0.1);
    padding: 11px 40px 11px 30px;
    text-align: left;
}
th{
    color: rgb(255, 255, 255);
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.BMI-calc{
    width: 720px;
}
.BC-disc{
    margin-bottom: 35px;
}
.BMI-container{
    display: flex;
    /* gap: 200px; */
    justify-content: space-between;
}
.height-weight{
    width: 282px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    margin-bottom: 15px;
    margin-inline-end: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 600;
}
.age{
    width: 282px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    margin-right: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 600;
    
}
.gender{
    width: 323px;
    height: 65px;
    border: none;
    border-radius: 8px;
    padding: 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 600;
    
}
.select-2{
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    width: 661px;
    height: 65px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 600;
    padding: 13px 20px;
   
    margin-top: 12px;
    margin-bottom: 12px; 
}
.select-2-op{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}
.calc-btn{
    padding: 12px 48px;
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}




/* Media Query */
/* for phone */
@media screen and (max-width: 576px) {

.nav-bar{
    padding: 20px;
}

.nav-list{
    display: none;
}
.banner{
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}
banner-photo-card-container{
   margin-left: -100px;
   
}
.btn-container{
    display: flex;
}

.card-2{
    margin-left: -3px;
}
.card-1{
    margin-left: .1px;
    /* margin-right: 500px; */ 
}

.movments-container{
    grid-template-columns: repeat(1 , 1fr);
    gap: 10px;
}
.section-2{
    width: 300px;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.MB-discription{
    width: 300px;
}
.MB-btn{
    padding: 16px 40px;
    width: 300px;
}
.MB-picture{
    width: 300px;
    Object-fit:none;
    Object-position: 67% 28%;
}

.calc-hedding,
.calc-disc
{
    text-align: left;
    padding: 20px;
}
.BMI-container{
    flex-direction: column;
    padding: 20px;
}
.BMI-calc{
    width: 355px;
}
.BC-disc{
    width: 345px;
}
.height-weight{
    width: 123px;
}
.age{
    width: 123px;
}
.gender{
    width: 163px;
}
.select-2{
    width: 343px;
}
.calc-btn{
    padding: 18px 65px;
    font-size: 1.1rem;
}


}

